# Mac system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# NetBeans files
nbproject/private/
build/
dist/
*.class
/ice-tasks/ice-task-01/FuelCostCalculator/target/
/ice-tasks/Workings/ice-task-02/Ai_Rubber_Duck_Activity/target/
